:root {
  --surface-background: rgba(177, 193, 234, 8%);
  --surface-main: rgba(255, 255, 255, 100%);
  --surface-divider: rgba(235, 235, 235, 100%);

  // input
  --surface-input: rgba(255, 255, 255, 100%);
  --surface-input-disabled: rgba(189, 189, 189, 100%);
}
