.app_dark_theme {
  // green
  --dot-green: rgba(222, 238, 229, 100%);

  // grey
  --dot-grey: rgba(232, 234, 236, 100%);

  // blue
  --dot-blue: rgba(203, 219, 239, 100%);

  // violet
  --dot-violet: rgba(228, 219, 238, 100%);

  // orange
  --dot-orange: rgba(239, 227, 194, 100%);

  // red
  --dot-red: rgba(239, 223, 221, 100%);
}
