.wrapper {
  position: relative;
  background-color: var(--borders-input);
  border-radius: 100px;
  width: 46px;
  height: 24px;
  transition: all var(--animation-duration) ease;
  cursor: pointer;
  border: none;

  & .thumb {
    height: 20px;
    width: 20px;
    background-color: var(--text-button-primary);
    border-radius: 50%;
    transition: all var(--animation-duration) ease;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.toggled {
    background-color: var(--icons-primary);

    & .thumb {
      left: calc(46px - 22px);
    }
  }

  &:disabled {
    background-color: var(--text-disabled);
    pointer-events: none;

    & .thumb {
      background-color: var(--surface-divider);
    }
  }
}
