.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 32px 8px 12px;
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    background-color: var(--select-option-hover);
  }

  &:active {
    background-color: var(--select-option-active);
  }

  svg {
    flex-shrink: 0;
  }
}
