.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.constants {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 16px;
}
