.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 24px;
  margin: auto;
}

.character {
  &:hover {
    transform: scale(1.01);
  }
}

.link {
  display: inline-flex;
  height: fit-content;
}

.back {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.add {
  aspect-ratio: 1;
  border-radius: 50%;
}
