.app_dark_theme {
  --surface-background: rgba(25, 25, 25, 100%);
  --surface-main: rgba(38, 38, 38, 100%);
  --surface-divider: rgba(52, 52, 52, 100%);

  // input
  --surface-input: rgba(52, 52, 52, 100%);
  --surface-input-disabled: rgba(56, 56, 56, 100%);
}
