.app_dark_theme {
  --tab-border: var(--borders-input);
  --tab-border-active: var(--text-primary);
  --tab-text: var(--text-tertiary);
  --tab-text-active: var(--text-primary);
  --tab-text-hover: var(--text-secondary);
  --tab-border-hover: var(--text-secondary);
}
