:root {
  --badge-green: rgba(219, 237, 219, 100%);
  --badge-grey: rgba(227, 226, 224, 100%);
  --badge-blue: rgba(218, 237, 236, 100%);
  --badge-violet: rgba(232, 222, 238, 100%);
  --badge-orange: rgba(249, 228, 188, 100%);
  --badge-red: rgba(252, 224, 219, 100%);
}
