:root {
  // green
  --dot-green: rgba(27, 52, 38, 100%);

  // grey
  --dot-grey: rgba(52, 50, 45, 100%);

  // blue
  --dot-blue: rgba(28, 56, 55, 100%);

  // violet
  --dot-violet: rgba(66, 36, 84, 100%);

  // orange
  --dot-orange: rgba(64, 44, 27, 100%);

  // red
  --dot-red: rgba(56, 22, 21, 100%);
}
