:root {
  --controls-with-popup-icon: var(--text-tertiary);
  --controls-with-popup-bg-hover: var(--borders-input);
  --controls-with-popup-popup-border: var(--borders-input);
  --controls-with-popup-popup-danger-text: var(--text-error);
}
