:root {
  --borders-background: rgba(255, 255, 255, 100%);
  --borders-sidebar: rgba(211, 215, 229, 100%);

  // input
  --borders-input: rgba(220, 220, 220, 100%);
  --borders-input-hover: rgba(107, 107, 107, 100%);
  --borders-input-active: rgba(116, 143, 255, 100%);
  --borders-button: rgba(221, 221, 221, 100%);
  --borders-button-hover: rgba(166, 166, 166, 100%);
  --borders-button-pressed: rgba(22, 22, 22, 100%);
  --borders-button-disabled: rgba(230, 230, 230, 100%);
}
