.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &:hover {
    .border {
      border-color: var(--input-border-hover);
    }
  }

  &:active {
    .border {
      border-color: var(--input-border-active);
    }
  }

  &:focus-within {
    .border {
      border-color: var(--input-border-active);
    }
  }

  &:disabled {
    .border {
      border-color: var(--input-border-disabled);
    }

    path {
      fill: var(--input-text-disabled);
    }
  }
}

.border {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;
  border: var(--input-border-width) solid var(--input-border);
  border-radius: 10px;
  background-color: var(--input-background);

  &.error {
    border-color: var(--input-text-error) !important;
  }

  path {
    fill: var(--input-text-placeholder);
  }

  & > input {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--input-text);

    &::placeholder {
      color: var(--input-text-placeholder);
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}

.hideBorder {
  border: none;
}

.label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--input-text-label);
  padding: 0 var(--input-border-padding);

  &.error {
    opacity: 1;
  }
}

.error {
  color: var(--input-text-error);

  path {
    fill: var(--input-text-error);
  }

  & > input {
    &::placeholder {
      color: var(--input-text-error) !important;
    }
  }
}

.errorText {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.disabled {
  pointer-events: none;
}
