.app_dark_theme {
  // green
  --badge-green-bg: rgba(43, 89, 63, 100%);
  --badge-green-text: rgba(222, 238, 229, 100%);

  // grey
  --badge-grey-bg: rgba(90, 90, 90, 100%);
  --badge-grey-text: rgba(232, 234, 236, 100%);

  // blue
  --badge-blue-bg: rgba(40, 69, 108, 100%);
  --badge-blue-text: rgba(203, 219, 239, 100%);

  // violet
  --badge-violet-bg: rgba(73, 47, 100, 100%);
  --badge-violet-text: rgba(228, 219, 238, 100%);

  // orange
  --badge-orange-bg: rgba(131, 94, 51, 100%);
  --badge-orange-text: rgba(239, 227, 194, 100%);

  // red
  --badge-red-bg: rgba(110, 54, 48, 100%);
  --badge-red-text: rgba(239, 223, 221, 100%);
}
