.wrapper {
  display: flex;
  position: relative;
  background-color: var(--paper-background);
  padding: 16px;
  border-radius: var(--radius-md);
}

.loader {
  display: none;
  opacity: 0;
  z-index: 3;
  align-items: center;
  justify-content: center;
  inset: 0;
  position: absolute;
  transition: all var(--animation-duration) ease;
  background-color: var(--paper-loader-background);
  border-radius: var(--radius-xl);
  color: var(--icons-primary);
}

.show {
  opacity: 1;
  display: flex;
}
