:root {
  // green
  --badge-green-bg: rgba(219, 237, 219, 100%);
  --badge-green-text: rgba(27, 52, 38, 100%);

  // grey
  --badge-grey-bg: rgba(227, 226, 224, 100%);
  --badge-grey-text: rgba(52, 50, 45, 100%);

  // blue
  --badge-blue-bg: rgba(218, 237, 236, 100%);
  --badge-blue-text: rgba(28, 56, 55, 100%);

  // violet
  --badge-violet-bg: rgba(232, 222, 238, 100%);
  --badge-violet-text: rgba(66, 36, 84, 100%);

  // orange
  --badge-orange-bg: rgba(249, 228, 188, 100%);
  --badge-orange-text: rgba(64, 44, 27, 100%);

  // red
  --badge-red-bg: rgba(252, 224, 219, 100%);
  --badge-red-text: rgba(56, 22, 21, 100%);
}
